body {
	background: #141414;
	color: #ffffff;
}



.movie-app > .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
	overflow-x: auto;
	flex-wrap: wrap;
}

.image-container {
  width: 200px;
	position: relative;
	transition: transform 0.2s;
}

.image-container > img {
  width: 250px;

}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
